<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786733007881-tl34b0pjvtlgtnq6rbularp8n9g60cgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786733007881-tl34b0pjvtlgtnq6rbularp8n9g60cgs</string>
	<key>API_KEY</key>
	<string>AIzaSyDRbOz5y2FyQV_YzO_DTAzfLmcF-zQQQq8</string>
	<key>GCM_SENDER_ID</key>
	<string>786733007881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theNews</string>
	<key>PROJECT_ID</key>
	<string>al-gareda</string>
	<key>STORAGE_BUCKET</key>
	<string>al-gareda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786733007881:ios:a3866bd09664d9146ca4d8</string>
</dict>
</plist>